<div class="container">

  <div class="form-group p-4">
    <input type="text" class="form-control" placeholder="Chercher par mot" style="width:300px" [(ngModel)]="searchTerm" />
  </div>
  <tr *ngFor="let article of articlesObj | slice:startIndex:endIndex; let i = index">

    <div class="articleBodyDiv">
      <h3 class="articleTitle">{{ article.themes}}</h3>
      <h4 class="articleTheme">{{ article.title }}</h4>
      <p class="articleBody"> {{ article.body}}</p>
    </div>

  </tr>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      <li *ngFor="let pageNumber of getArrayFromPageLength(articlesObj.length); let i = index " class="page-item">

        <a class="page-link " (click)="updatePage(i)"> page {{i+1}}</a>
      </li>

    </ul>
  </nav>
  <div>